body {
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

body.dark {
    color: #fff;
    background-color: #1a1919;
}

a {
    color: unset;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide-element {
    display: none;
}

.switch-theme {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Typography */
.heading-2 {
    font-size: 2rem;
    font-family: sans-serif;
}

.large-text {
    font-size: 18px;
    font-family: monospace;
}