body {
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

body.dark {
    color: #fff;
    background-color: #1a1919;
}

a {
    color: unset;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide-element {
    display: none;
}

.switch-theme {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 20px;
}
.resume-button {
    color: white;
    border-color: white;
    margin-right: 10px;
}
.resume-button:hover {
    color: rgb(183, 223, 255);
    border-color: rgb(183, 223, 255);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20%;
}
.footer-section {
    padding: 50px;
}

/* Typography */
.heading-2 {
    font-size: 2rem;
    font-family: sans-serif;
}
.heading-3 {
    font-size: 1.5rem;
    font-family: sans-serif;
}

.large-text {
    font-size: 18px;
    font-family: monospace;
}
.no-underline {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 14px;
    }
    section {
        padding: 100px 20px;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        font-size: 12px;
    }
}